<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Pumpr</title>
  <link rel='stylesheet' href='/css/styles.css'>
  <link rel='stylesheet' href='/css/jassbuilder.css'>
  <link rel='stylesheet' href='/css/jassprofile.css'>
  <link rel='stylesheet' href='/css/jass.css'>

    <link
      rel='stylesheet'
      href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'
      integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY='
      crossorigin=''
    />

    <script
      src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js'
      integrity='sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo='
      crossorigin=''
    ></script>
</head>

<body>
  <header class='display-flex justify-space-between align-center'>




    <!-- Only include the logout script if the user is logged in -->
    


    <!-- Only display the logout button if the user is logged in -->

   {{#if logged_in}}
    <nav>
      <button class='btn' id='logout'>logout</button>
      <button class='btn' id='homeBtn'>home</button>
    </nav>
    {{/if}}
  </header>
  <main class='picmain'>
    <div class='container-fluid'>

      {{{body}}}
    </div>

  </main>
  <footer>

  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  <script src='/js/home.js'></script>
  {{/if}}
</body>

</html>