<div class="row">
    <div class="col-auto">
        <h2>Welcome!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Tell us about yourself!</h3>

        <form class="form new-profile-form">
            <div class="form-group">
                <label for="profile-first-name">First name:</label>
                <input class="form-input" type="text" id="profile-first-name" name="profile-first-name" />
            </div>
            <div class="form-group">
                <label for="profile-last-name">Last name:</label>
                <input class="form-input" type="text" id="profile-last-name" name="profile-last-name" />
            </div>
            <div class="form-group">
                <label for="profile-age">How old are you?</label>
                <input class="form-input" type="number" id="profile-age" name="profile-age" />
            </div>
            <div class="form-group">
                <label for="profile-about">Tell us about yourself:</label>
                <textarea class="form-input" id="profile-about" name="profile-about"></textarea>
            </div>
            {{!-- Add drop down menu --}}
            <div class="form-group">
                <label for="profile-search">What are you looking for?</label>
                <textarea class="form-input" id="profile-search" name="profile-search"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>