<h1>Find Users in Your Area</h1>

<!-- Search Filters -->
<form id='user-search-form' method='GET'>

  <!--Todo- Other search filters like gender, fitness goals, etc. can be added here -->
  <label for='email'>Email:</label>
  <input type='text' id='email' name='email' />

  <button type='submit'>Search</button>
</form>

</div>
<script src='/js/findUsers.js'></script>