<body>
  <link rel='stylesheet' href='/css/jassfind.css'>
  <link rel='stylesheet' href='/css/jass.css'>

  <div class="find-users">


    <!-- Search Filters -->
    <div class="user-search-form">
      <h1>Find Users in Your Area</h1>
      <form id='user-search-form' method='GET'>
        <!--Todo- Other search filters like gender, fitness goals, etc. can be added here -->
        <div class="form-group">
          <label for='email'>Email:</label>
          <input class="form-input" type='text' id='email' name='email' />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type='submit'>Search</button>
        </div>
      </form>
    </div>
  </div>
  <script src='/js/findUsers.js'></script>
</body>