<link rel='stylesheet' href='/css/jasshome.css'>
<div class="logged-in-home">
  <div class="row align-center mb-5">
    <div class="col-md-12">

      <h2>Logged in as {{user.name}}</h2>
      <p>{{user.email}}</p>
      <h3>New to Pumpr?</h3>
      <a href="/builder">Click here to build your profile!</a>
      <h3>Already have a profile?</h3>
      <a href="/profile">Click here to view your profile!</a>
    </div>

  </div>
</div>