<link rel='stylesheet' href='/css/jasshome.css'>
<div class="logged-in-home">
  <div class="row align-center mb-5">
    <div class="col-md-12">

      <h2 class="mb-3">Logged in as {{user.name}}</h2>
      <div class="login-user-details">
        <p>{{user.email}}</p>
        <h3>New to Pumpr?</h3>
        <a href="/builder">Click here to build your profile!</a>
        <h3>Already have a profile?</h3>
        <a href="/profile">Click here to view your profile!</a>
        <h3>Looking for your next partner?</h3>
        <a href="/find-users">Click here to search!</a>
      </div>
    </div>

  </div>
</div>
</div>