.test {
    width: 50px;
    height: 50px;
    background-color: red;
}

.logged-in-home {
    background-image: url("./assets/weightscouple.png");
}

.logged-in-home .row {
    height: 100%;
    align-items: center;
}

.logged-in-home .row>.col-md-12 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logged-in-home .row>.col-md-12 a {
    color: rgb(247, 183, 5);
}

.login-user-details {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.login-user-details h3,
.login-user-details p,
.login-user-details a {
    color: white;
    text-decoration: none;
}

.login-user-details a:hover {
    color: rgb(247, 183, 5);
    text-decoration: underline;
}